.xcuserstate
.DS_Store
"Box Designer".xcodeproj/project.xcworkspace/xcuserdata/audreyhorne.xcuserdatad/UserInterfaceState.xcuserstate
docs/
build/
"Box Designer".xcodeproj/project.xcworkspace/xcuserdata/audreyhorne.xcuserdatad/UserInterfaceState.xcuserstate
